body {
    margin: 0;
}

.background-container {
    margin: 0;
    padding: 0;
    background-color: #B99974;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    background-image: url('../assets/background-flower.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: auto 100vh;
}

.main-logo {
    font-size: 157px;
    font-weight: 600;
    line-height: 180px;
    letter-spacing: -0.06em;
    text-align: left;
    color: #FEFAF4;
    text-align: center;

}