.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}

.menu-icon {
    width: 24px;
    height: 24px;
    margin-left: 110px;
    cursor: pointer
}

.login-icon {
    width: 24px;
    height: 24px;
    margin-right: 110px;
    cursor: pointer;
}


.navbarMenu {
    flex: 100;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
}

.navbarMenuItem {
    font-size: 14px;
    color: white;
    margin: 52px;
    text-decoration: none;
}