.laboratory-submit-container {
    margin-top: -1px;
    background-color: #6C7A86;
    width: 100%;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laboratory-submit-btn {
    width: 1440px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.laboratory-submit-btn-text {
    margin-left: 44px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
}

.laboratory-submit-btn-next {
    font-size: 50px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-next-arrow {
    margin-right: 20px;
}
