body {
    margin: 0;
}


.about-background-container {
    background: linear-gradient(165.03deg, #80B5EA 5.4%, #D1C8BD 52.6%, #D5D76A 87.22%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    width: 100%;
    height: 1650px;
}

.about-info {
    width: 1440px;
    height: 100%;
    margin: 50px auto;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

.about-title {
    position: absolute;
    left: 60px;
    top: 60px;
    color: #FFFFFF;

    font-size: 100px;
    font-weight: 500;
    line-height: 124px;
    letter-spacing: -0.06em;
    text-align: left;
}

.about-content {
    position: absolute;
    left: 60px;
    top: 184px;

    color: #FFFFFF;

    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;

}



.about-img-1 {
    position: absolute;
    top: 312px;
    left: 276px;
}

.about-img-2 {
    position: absolute;
    top: 483px;
    left: 776px;
}

.about-img-3 {
    position: absolute;
    top: 945px;
    left: 355px;
}

.about-img-4 {
    position: absolute;
    top: 1108px;
    left: 826px;
}


.about-img-1-background {
    width: 294px;
    height: 343px;

    background-color: #8890A7;
    position: absolute;
    top: 414px;
    left: 303px;
}

.about-img-2-background {
    width: 307px;
    height: 343px;

    background-color: #8890A7;
    position: absolute;
    top: 574px;
    left: 753px;
}

.about-img-3-background {
    width: 296px;
    height: 343px;

    background-color: #A4B286;
    position: absolute;
    top: 1061px;
    left: 369px;
}

.about-img-4-background {
    width: 664px;
    height: 390px;

    background-color: #849DB5;
    position: absolute;
    top: 1167px;
    right: 0;
}

.about-img-text-1 {
    position: absolute;

    text-align: center;
    right: 30px;
    bottom: 20px;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.03em;
}

.about-img-text-2 {
    position: absolute;

    text-align: center;
    right: 20px;
    bottom: 20px;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.03em;
}

.about-img-text-3 {
    position: absolute;

    text-align: center;
    right: 35px;
    bottom: 30px;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.03em;
}

.about-img-text-4 {
    position: absolute;

    text-align: center;
    left: 55px;
    bottom: 40px;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.03em;
}


.about-next-btn {
    font-size: 50px;
    color: #FFFFFF;
    position: absolute;
    right: 80px;
    bottom: 80px;
    cursor: pointer;
    text-decoration: none;

}


.about-index-1 {
    position: absolute;
    color: #EEEEEE;
    top: 252px;
    left: 550px;
    font-size: 44px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.06em;
}

.about-index-2 {
    position: absolute;
    color: #EEEEEE;
    top: 424px;
    left: 1034px;
    font-size: 44px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.06em;
}

.about-index-3 {
    position: absolute;
    color: #EEEEEE;
    top: 887px;
    left: 355px;
    font-size: 44px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.06em;
}

.about-index-4 {
    position: absolute;
    color: #EEEEEE;
    top: 1048px;
    left: 826px;
    font-size: 44px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.06em;
}

.about-line-1 {
    position: absolute;
    top: 490px;
    left: 498px;
}

.about-line-2 {
    position: absolute;
    top: 656.84px;
    left: 483.61px;
}

.about-line-3 {
    position: absolute;
    top: 1094px;
    left: 508px;
}