.body {
    margin: 0;
}

.about4-background-container {
    background-color: #FEFAF4;
    width: 100%;
    height: 906px;
    overflow: hidden;
}

.about4-service-title {
    margin-top: 120px;
    color: #6D6D6D;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.06em;
    text-align: center;

}

.about4-items-container {
    margin-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about4-item {
    text-align: center;
    position: relative;
    margin: 40px;
}

.about4-quote {
    color: #6D6D6D;
    font-family: 'Prosto One';
    font-size: 80px;
    font-weight: 400;
    line-height: 124px;
    letter-spacing: -0.06em;
    text-align: left;

    position: absolute;

}

.about4-img {
    margin-top: 80px;
    width: 48px;
    height: 48px;
    padding-bottom: 40px;
    padding-left: 120px;
    padding-right: 120px;
    border-bottom: #6D6D6D 1px solid;
}

.about4-title {
    margin-top: 26px;
    color: #6D6D6D;
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.06em;
    text-align: center;
}

.about4-content {
    margin-top: 20px;
    color: #6D6D6D;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.06em;
    text-align: center;

}