.about5-background-container {
    height: 244px;
    width: 100%;
    background-color: #ECEEB7;
    justify-content: center;

    display: flex;
    justify-content: space-between; /* 이미지를 왼쪽과 오른쪽에 배치 */
    overflow: hidden; /* 넘치는 이미지를 잘라냅니다. */
}

.about5-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about5-text-1 {
    color: #798054;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.06em;
    text-align: center;
}

.about5-text-2 {
    margin-top: 36px;
    color: #798054;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.06em;
    text-align: center;

}

.left-images img,
.right-images img {
    width: 50%;
    height: 202px;
    margin-top: 30px;

}
.right-images img {
    transform: scaleX(-1);
}