.body {
    margin: 0;
}

.about6-container {
    background-color: #D5D76A;
    width: 100%;
    height: 100vh;
}

.about6-background-container {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-rows: 1fr 2fr;
    text-align: center;
}

.about6-header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;

    border-bottom: 1px solid rgba(255, 255, 255, 0.8);

}

.about6-body {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about6-header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
}


.about6-body-left {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    color: #FFFFFF;
    font-size: 80px;
    font-weight: 600;
    line-height: 136px;
    letter-spacing: -0.06em;
    text-align: left;

}

.about6-body-right {
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.about6-body-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.about6-step1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.about6-step2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.about6-step3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.about6-header-center-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.06em;
    text-align: center;

}

.about6-header-center-content {
    margin-top: 36px;

    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.06em;
    text-align: center;
}


.about6-step1,
.about6-step2,
.about6-step3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.3);
}

.about6-step1.selected,
.about6-step2.selected,
.about6-step3.selected {
  color: rgba(255, 255, 255, 1);
}

.about6-body-img:hover {
    background-color:rgba(0, 0, 0, 1);
    z-index: 10;
}