.about2-background-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 14fr 1fr;


    margin: 0;
    padding: 0;
    background-color: #D5D76A;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: auto 100vh;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.about2-grid-item-2 {
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.8);
}

.about2-info {
    text-align: center;
    margin-top: 206px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.06em;

}

.about2-title {
    font-size: 24px;
    line-height: 44px;
    letter-spacing: -0.06em;
    padding-bottom: 27px;
    width:fit-content;
    margin: 0 auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.about2-content {
    padding-top: 61px;
    font-size: 32px;
    line-height: 60px;
    letter-spacing: -0.06em; 
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 600px;
    object-fit: cover;
    z-index: 1;
}
