.step2-design-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 66px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
}


.step2-design-grid-item-1,
.step2-design-grid-item-2,
.step2-design-grid-item-3,
.step2-design-grid-item-4,
.step2-design-grid-item-5,
.step2-design-grid-item-6 {
    width: 280px;
    height: 348px;
    border-radius: 200px 200px 0px 0px;
    margin-right: 28px;
    position: relative;
    cursor: pointer;

    border: 8px solid transparent;

}

.step2-design-slider {
    display: flex;
}

.step2-design-slider-track {
    display: flex;
    transition: transform 0.6s ease-in-out;
}


.step2-design-grid-item-1.clicked,
.step2-design-grid-item-2.clicked,
.step2-design-grid-item-3.clicked,
.step2-design-grid-item-4.clicked,
.step2-design-grid-item-5.clicked,
.step2-design-grid-item-6.clicked {
    border: 8px solid #47587A;
    position: relative;
    z-index: 1;
}

.step2-design-grid-item-div {
    margin-top: 40px;
    position: relative;
}

.star-group {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.star {
    width: 20px;
    height: 20px;
    background-image: url('../../assets/star.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 7px;
}

.star-group .star-1 {
    transform: rotate(-10deg);
    top: -10px;
}

.star-group .star-2 {
    top: 10px;
    margin-top: -7px;
}

.star-group .star-3 {
    transform: rotate(10deg);
    top: -10px;
}

.star-group.visible {
    opacity: 1;
}

.image-slider-container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.step2-design-next-btn {
    position: absolute;
    right: 30px;
    top: 50%;
    font-size: 100px;
    cursor: pointer;

    height: 128px;
    width: 60px;
    color: #ffffff;

    background-color: #000000;
    opacity: 6%;
}

.step2-design-next-btn:hover {
    opacity: 10%;
}

.step2-design-prev-btn {
    position: absolute;
    left: 30px;
    top: 50%;
    font-size: 100px;
    cursor: pointer;

    height: 128px;
    width: 60px;
    color: #ffffff;
    background-color: #000000;
    opacity: 6%;
}

.step2-design-prev-btn:hover {
    opacity: 10%;
}

.step2-design-comment-1 {
    
}